.informativa {
  background: #000000;
  color: #fbfbfb;
  border-radius: 16px;
  padding: 32px;
  margin: 32px auto;
  max-width: 600px;
  box-shadow: 0 2px 8px #25ACFA33;
  text-align: center;
}

.h2 {
  color: #5e14f1;
  margin-bottom: 16px;
  text-shadow: #bdf114;
}